Longterm_packetloss_test.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        -96
      ],
      "id": "ed5a2f0c-e5f3-4115-bcf8-bc9676983b6e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "echo \"$(date '+%Y-%m-%d %H:%M:%S');8.8.8.8;20;$(ping -c 20 8.8.8.8 | grep 'packet loss' | awk -F', ' '{print $3}' | awk '{print $1}')\" | tee -a /home/kuga/n8n-monitoring/vodafone_log.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        368,
        -96
      ],
      "id": "5e62c98a-a942-4b34-8588-a3418178ed13",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "021d1ba1-a8d9-4393-ae27-73e5549fcf24",
              "name": "TimeStamp",
              "value": "={{ $json.stdout.split(';')[0] }}",
              "type": "string"
            },
            {
              "id": "20673ca4-0750-427a-8f62-3d641b02e129",
              "name": "Ziel_IP",
              "value": "={{ $json.stdout.split(';')[1] }}",
              "type": "string"
            },
            {
              "id": "1cf11201-6944-40e5-806c-8a805ffddc46",
              "name": "Pings",
              "value": "={{ $json.stdout.split(';')[2] }}",
              "type": "string"
            },
            {
              "id": "4e35d007-d9de-45b7-9da4-b01ecd53cda2",
              "name": "Verlust",
              "value": "={{ $json.stdout.split(';')[3].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -96
      ],
      "id": "652a26cc-6d7e-4a78-8670-43aef34bdc2f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10Sbu_1J7bETDIf-ZGnpwPcwunMqD6Upq9mbuKAfS-pU",
          "mode": "list",
          "cachedResultName": "Vodafone-Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Sbu_1J7bETDIf-ZGnpwPcwunMqD6Upq9mbuKAfS-pU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Sbu_1J7bETDIf-ZGnpwPcwunMqD6Upq9mbuKAfS-pU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.TimeStamp }}",
            "Ziel_IP": "={{ $json.Ziel_IP }}",
            "Pings": "={{ $json.Pings }}",
            "Verlust": "={{ $json.Verlust }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ziel_IP",
              "displayName": "Ziel_IP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pings",
              "displayName": "Pings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verlust",
              "displayName": "Verlust",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        -96
      ],
      "id": "712f4868-ed9d-46ae-90ab-89668f6a1e7d",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleApi": {
          "id": "1Jeozl1yH2G4YkzQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Berlin",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d1405a17-9bbd-4237-92cc-3704071725b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d9b31ae55426aadfe2410981b49cc8d3889dcaf8484d4106699a7064b90e17f"
  },
  "id": "uq5z3-VJ1NHBVqXN7OufG",
  "tags": []
}